<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Index</th>
			<th>Count</th>
			<th>Size</th>
			<th>Even</th>
			<th>Odd</th>
			<th>First</th>
			<th>Last</th>
		</tr>
		<!--
			var:状态变量
			1,index:当前迭代器的索引 从 0 开始
			2,count:当前迭代对象的计数 从 1 开始
			3,size:被迭代对象的长度
			4,even/odd:布尔值，当前循环是否是偶数/奇数 从 0 开始
			5,first:布尔值，当前循环的是否是第一条，如果是返回 true 否则返回 false
			6,last:布尔值，当前循环的是否是最后一条，如果是则返回 true 否则返回 false
		-->
		<tr th:each="u,var : ${list}">
			<td th:text="${u.id}"></td>
			<td th:text="${u.name}"></td>
			<td th:text="${u.age}"></td>
			<td th:text="${var.index}"></td>
			<td th:text="${var.count}"></td>
			<td th:text="${var.size}"></td>
			<td th:text="${var.even}"></td>
			<td th:text="${var.odd}"></td>
			<td th:text="${var.first}"></td>
			<td th:text="${var.last}"></td>
		</tr>
	</table>
</body>
</html>